@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.theme {
  position: absolute;
  top: 1.3rem;
  right: 0.2rem;
  @include tablet {
    right: 1.5rem;
  }
  width: fit-content;
  height: fit-content;
}
