@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.field {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 0.5rem;
    &--alt {
      text-align: center;
    }
  }

  &__input {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: inherit;
    &--alt {
      color: rgba(0, 0, 0, 0);
      cursor: pointer;
      position: relative;
    }
  }
}
