@mixin mobile-only {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}
@mixin underline($bottom) {
  position: relative;
  text-decoration: none;

  &::after {
    bottom: $bottom;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    background-color: transparent;
    transition: background-color 1s, width 1s, font-weight 1s ease-in-out;
    width: 0%;
  }
  &:hover::after {
    font-weight: 800;
    width: 100%;
    background-color: red;
  }
}
