$palette-1: #f2e9e4;
$palette-2: #c9ada7;
$palette-3: #9a8c98;
$palette-4: #4a4e69;
$palette-5: #22223b;

$palette-alt-1: #fbfbf2;
$palette-alt-2: #e5e6e4;
$palette-alt-3: #cfd2cd;
$palette-alt-4: #a6a2a2;
$palette-alt-5: #847577;

$tablet-min-size: 768px;
$desk-min-size: 1440px;
