$palette-1: #f2e9e4;
$palette-2: #c9ada7;
$palette-3: #9a8c98;
$palette-4: #4a4e69;
$palette-5: #22223b;

$palette-alt-1: #fbfbf2;
$palette-alt-2: #e5e6e4;
$palette-alt-3: #cfd2cd;
$palette-alt-4: #a6a2a2;
$palette-alt-5: #847577;

$button-colour: #c9ada7;
$hover-colour: #22223b;
$bg-colour: #4a4e69;
$bg-colour-alt: #9a8c98;
$bg-colour-dark: rgb(24 24 27);

$tablet-min-size: 768px;
$desk-min-size: 1440px;

$size-header: 2rem;
$size-text: 1rem;
$size-sub-header: 1.5rem;
$size-header-tablet: 3.75rem;
$size-sub_header-tablet: 2.5rem;

$shadow: 0 2px 4px $palette-3;
$shadow-2: 0px 0px 10px 0px$palette-alt-5;
