@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.about {
  width: 90%;
  margin: 1rem auto;
  border: 2px solid;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: $shadow-2;

  &__title {
    text-align: center;
    letter-spacing: 1.5px;
    font-size: $size-sub-header;
  }

  &__marquee {
    height: 9rem;
    overflow: hidden;
    position: relative;
  }
  &__skill {
    float: left;
    width: calc(100% / 12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

  &__marquee-inner {
    display: block;
    width: 200%;
    position: absolute;
    animation: marquee 7s linear infinite;
    animation-play-state: paused;
    &:hover {
      animation-play-state: running;
    }
  }
  &__icon {
    background-color: $bg-colour;

    background-position: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transition: background-color 0.5s ease-in;
    &:hover {
      background-color: red;
    }
  }
  &__javascript {
    background-image: url("../../assets/icons/javascript.svg");
  }
  &__css {
    background-image: url("../../assets/icons/css.svg");
  }
  &__html {
    background-image: url("../../assets/icons/html.svg");
  }
  &__typescript {
    background-image: url("../../assets/icons/typescript.svg");
  }
  &__react {
    background-image: url("../../assets/icons/react.svg");
  }
  &__express {
    background-image: url("../../assets/icons/express.svg");
  }
  &__label {
    font-weight: 500;
    font-size: 1.25rem;
    // color: $bg-colour-alt;
  }
  &__info {
    background-color: $bg-colour;
    padding: 0.5rem 0;
    // filter: invert(100);
  }
  &__bio,
  &__title--alt {
    // filter: invert(1);
    color: white;
  }
  &__bio {
    font-size: $size-text;
    text-align: center;
    line-height: 2rem;
  }
  &__link {
    text-decoration: none;
    color: unset;
  }
  &__span {
    font-weight: 800;
  }

  &__span--alt {
    position: relative;
    text-decoration: none;
    color: $palette-1;
    &::after {
      bottom: -15%;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      background-color: transparent;
      transition: background-color 1s, width 1s, font-weight 1s ease-in-out;
      width: 0%;
    }
    &:hover::after {
      font-weight: 800;
      width: 100%;
      background-color: red;
    }
  }
}
