@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.contact {
  height: 100%;
  width: 90%;
  margin: auto;
  box-shadow: $shadow-2;
  border-radius: 25px;
  border: 2px solid;
}
