@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.contact {
  // zoom: 50%;
  transform: scale(0.7);
  @include tablet {
    zoom: 75%;
  }
  background-color: $bg-colour;
  height: 100%;
  width: 90%;
  margin: auto;
  box-shadow: $shadow-2;
  border-radius: 25px;
  border: 2px solid;
  padding: 1rem;
  &__container {
    color: white;
  }
  &--dark {
    background-color: $bg-colour-dark;
  }
  &__title {
    letter-spacing: 1.5px;
    font-size: $size-sub-header;
    margin: 0.5rem;
  }
  &__title,
  &__subtitle {
    text-align: center;
  }
  &__subtitle {
    font-size: $size-text-mobile;
    @include desktop {
      font-size: 1.15rem;
    }
  }
  &__email {
    @include underline(-15%);
  }
  &__link {
    text-decoration: none;
    font-weight: 600;
    color: $palette-1;
  }

  &__form {
    width: 90%;
    margin: auto;
  }
  &__flex {
    display: flex;

    justify-content: space-between;
    gap: 2rem;
  }
  &__wrapper {
    width: 100%;
    position: relative;
  }

  &__error-container {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    gap: 0.5rem;
    right: 0;
    position: absolute;
    top: 0;
  }
  &__error {
    margin: 0;
  }
  &__message {
    position: relative;
    font-family: "Inter";
    ::placeholder {
      font-family: "Inter";
    }
  }
  &__textarea {
    font-family: "Inter";
  }
  &__button-container {
    display: flex;
    justify-content: center;
  }
  &__button {
    background-color: $palette-5;

    color: white;
    border: 2px solid;
    border-radius: 30px;
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 0.5s, background-color 0.5s ease;
    &:hover {
      cursor: pointer;
      background-color: $bg-colour-alt;
      color: white;
    }
    &:active {
      border: 2px solid $hover-colour;
      color: black;
    }
    &--dark {
      filter: invert(1);
      color: black;
      background-color: $bg-colour;

      &:hover {
        cursor: pointer;
        background-color: $palette-5;
      }
    }
  }
  &__text {
    color: white;
  }
}

.active .contact__container div {
  opacity: 0;
  animation: fadeIn 1s ease-in both;
}

.contact__container div:nth-child(2) {
  animation-delay: 1s;
}
.contact__container div:nth-child(3) {
  animation-delay: 2s;
}
.contact__container div:nth-child(4) {
  animation-delay: 3s;
}
.contact__container div:nth-child(5) {
  animation-delay: 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
