@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  transition: 0.5s;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: 2px solid $palette-5;
  backdrop-filter: blur(10px);

  @include tablet {
    width: 65%;
    right: 0;
  }

  &__navbar {
    width: 100%;
  }
  &__ul {
    background-color: $palette-1;
    box-shadow: $shadow;
    border-radius: 25px;
    --tw-ring-color: hsla(0, 0%, 100%, 0.1);
    box-shadow: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 1rem auto;
    padding-left: 0;
  }
  &__ul--alt {
    background-color: $palette-5;
  }
  &__link {
    list-style-type: none;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: background-color 0.15s;
    &:hover {
      background-color: $palette-5;
      color: $palette-1;
      border-bottom: 2px solid $palette-5;
    }
  }
  &__link--alt {
    &:hover {
      background-color: $palette-1;
      color: $palette-5;
      border-bottom: 2px solid $palette-1;
    }
  }
  &__link-tag {
    text-decoration: none;
    color: unset;
  }
}
.header__navbar .active {
  background-color: red;
  // border: 2px solid red;
  // box-shadow: inset 0 -5px 5px -5px $palette-1;
}
