@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.app {
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
  &--alt {
    background-color: $app-colour;
  }
  @include mobile-only {
    justify-content: center;
  }
  @include tablet {
    flex-wrap: nowrap;
  }
  &__container {
    @include tablet {
      &--alt {
        background-color: white;
      }
      background-color: $bg-colour-dark;
    }
    @include tablet {
      width: 35%;
    }
  }
  &__page {
    @include tablet {
      width: 65%;
      height: 100%;
    }
  }
  &__section {
    height: 100%;
    @include tablet {
      &--alt {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    @include mobile-only {
      display: flex;
      align-items: center;
      transform: scale(0.7);
      &--alt {
        transform: unset;
      }
    }
  }
}

.fp-overflow {
  overflow-y: visible !important;
  overflow-x: visible !important;
}

.app__section--work.fp-section {
  display: flex;
  overflow: visible;
}
.app__section--work .fp-overflow {
  width: 100%;
  @include tablet {
    display: flex;
    height: 100%;
  }
}
.app__section--alt .fp-overflow {
  @include mobile-only {
    overflow-y: auto !important;
  }
}
.fp-right ul {
  filter: invert(1);
}
