@use "./styles/partials/mixins" as *;

.app {
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
  @include mobile-only {
    justify-content: center;
  }
  @include tablet {
    flex-wrap: nowrap;
  }
  &__container {
    // background-color: green;

    // border: 2px solid red;
    @include tablet {
      width: 35vw;
      border-right: 4px solid red;
      // position: static;
      // overflow: visible;
      // width: 60%;
      // float: none;
    }
  }
  &__page {
    @include tablet {
      width: 65vw;
    }
  }
  &__section {
    height: 100%;
  }
}
// OVERRIDES HEIGHT OF SECTIONS
.fp-overflow {
  overflow-y: visible !important;
}
